<center>
<h3>Utwórz Wypo¿yczalnia</h3>
<table  border=0 cellpadding=2>
<tr><td>Klient: </td><td><select id='list_client' ></select></td></tr>
<tr><td>Magazyn: </td><td><select id='list_magazine' ></select></td></tr>
<tr><td>Data wypo¿u: </td><td><input type='date' id='data_w' /></td></tr>
<tr><td>Data zwrotu: </td><td><input type='date' id='data_z' /></td></tr>
<tr><td colspan=2 style='text-align:center;'><span class='cursor' id='A_new_wyp'><img src='ikon/C.gif' /></span><span class='cursor' id='save_new_wyp'><img src='ikon/O.gif' /></span></td></tr>
</table>


</center>