<center>
<h3>Utwórz Magazyn</h3>
<div id='add_mag'>
<table border=0>
<tr><td>Kategoria:</td><td><select id='set_cat' /></td></tr>
<tr><td>Producent:</td><td> <input type='text' id='marka' /></td></tr>
<tr><td>Model: </td><td><input type='text' id='model' /></td></tr>
<tr><td>Opis: </td><td><textarea id='opis' ></textarea></td></tr>
<tr><td>Cena: </td><td><input type='text' id='cena' /></td></tr>
<tr><td style='text-align:center' colspan=2><span class='cursor'><img src='ikon/C.gif'/></span><span class='cursos' id='save_mag'><img src='ikon/O.gif'/></span></td></tr>
</table>
</div>