<center>
<h3>Utwórz Klient</h3>
<div id='new_account'>
<table border=0>
<tr><td>Imiê:</td><td><input type='text' id='name' /></td></tr>
<tr><td>Nazwisko:</td><td><input type='text' id='name2' /></td></tr>
<tr><td>Ulica: </td><td><input type='text' id='street' /></td></tr>
<tr><td>Miasto: </td><td><input type='text' id='city' /></td></tr>
<tr><td colspan=2>&nbsp;</td></tr>
<tr><td>Nick: </td><td><input type='text' id='user' /></td></tr>
<tr><td>Mail: </td><td><input type='text' id='mail' /></td></tr>
<tr><td style='text-align:center' colspan=2><span class='cursor'><img src='ikon/C.gif'/></span> <span class='cursor' id='save_account'><img src='ikon/O.gif'/></span></td></tr>
</table>
</div>
</center>