<center>

<h3>Regulamin</h3>
Sprzet sportowy bedacy przedmiotem wypozyczenia jest wlasnoscia wypozyczalni A.O.S SGGW.
Przed podpisaniem DOKUMENTU WYPOZYCZENIA Pracownik SGGW/Student SGGW ma obowiazek zapoznania sie trescia niniejszego regulaminu w szczególnosci z prawami wynikajacymi z ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych (Dz.U. 2002 nr 101 poz. 926).

Wraz z podpisaniem DOKUMENTU WYPOZYCZENIA Klient zawiera umowe cywilnoprawna zgodnie z warunkami okreslonymi w niniejszym regulaminie.
Wypozyczalnia oddaje do dyspozycji Klienta nowy/uzywany, sprzet sportowy oraz doklada wszelkich staran, by spelnic oczekiwania Klienta w tym zakresie.
Klient odpowiada finansowo za uszkodzenia spowodowane nieprawidlowym uzytkowaniem sprzetu.
Sprzet wypozyczyc moze Pracownik/student, który okaze dwa niezniszczone dokumenty z aktualnymi zdjeciami i wplaci kaucje ustalona przez wypozyczalnie. Kaucja ta podlega zwrotowi na zyczenie Klienta w przypadku niezalegania z oplata za wypozyczenie i dokonania zwrotu sprzetu. W przypadku zaginiecia lub uszkodzenia /zniszczenia sprzetu, zwrot kaucji uzalezniony jest równiez od uregulowania przez Klienta zwrotu wartosci sprzetu lub zaplaty kwoty odpowiadajacej wysokosci szkody.
Wypozyczenie i zwrot sprzetu odbywa sie w siedzibie wypozyczalni od poniedzialku do piatku w godz. 8:00 – 15:00, p.003.
Klient odbierajac sprzet powinien sprawdzic stan techniczny i kompletnosc sprzetu.
Klient podpisujac dokument wypozyczenia, potwierdza, ze otrzymal sprzet pozbawiony wad, zgodnie ze specyfikacja i w dobrym stanie technicznym.
Klient zobowiazuje sie zwrócic sprzet w takim samym stanie i w terminie ustalonym w dokumencie wypozyczenia. Zwrot sprzetu nastepuje w wypozyczalni.
Klient oswiadcza, ze posiada niezbedna wiedze na temat eksploatacji sprzetu i zobowiazuje sie do dbalosci o sprzet i wykorzystywania go bezpiecznie i zgodnie z przeznaczeniem.
Klient wykorzystuje sprzet na swoja odpowiedzialnosc i nie moze dokonywac zadnych napraw sprzetu.
Wypozyczalnia nie ponosi odpowiedzialnosci za skutki eksploatacji powstale wobec osób trzecich i skutki nieprawidlowej eksploatacji.
Okresem rozliczeniowym za wypozyczenie sprzetu jest doba (24 godziny). Przekroczenie okresu rozliczeniowego o jedna godzine jest równoznaczne z przedluzeniem umowy wynajmu na kolejna dobe. Dzienne stawki oplat za wypozyczenie sprzetu oraz wysokosc kaucji okreslone sa w cenniku wypozyczalni.
Oplaty za wypozyczenie nalicza sie mnozac okres wynajmu (z uwzglednieniem regulacji punktu 12 – od dnia wypozyczenia do dnia zwrotu) przez dzienne stawki oplat. W przypadku zaginiecia lub uszkodzenia/zniszczenia sprzetu za okres wynajmu przyjmuje sie czas do dnia zwrotu wartosci utraconych rzeczy lub zaplaty kwoty odpowiadajacej wysokosci szkody. Wyzej wymienione swiadczenia nie zwalniaja od obowiazku zaplaty oplaty za wypozyczenie.
Klient ponosi odpowiedzialnosc za zaginiecie sprzetu. W przypadku zaginiecia sprzetu lub innych okolicznosci uniemozliwiajacych zwrot sprzetu w ustalonym terminie spoczywa na nim obowiazek niezwlocznego poinformowania Wypozyczalni o zaistnialym fakcie, jak równiez zwrotu wypozyczalni wartosci sprzetu najpózniej w chwili uplywu terminu zwrotu.
Nieuzasadniona, przekraczajaca dobe zwloka w zwrocie sprzetu lub niepoinformowanie Wypozyczalni o decyzji przedluzenia okresu wynajmu lub zaginiecia sprzetu powoduje zgloszenie sprawy jako przywlaszczenie do wlasciwych organów scigania.
Klient nie ponosi odpowiedzialnosci za normalne zuzycie sprzetu zgodnie z jego
przeznaczeniem.
Klient ponosi odpowiedzialnosc za ponad normalne zuzycie sprzetu, zniszczenie (zarówno wierzchniej czesci jak i slizgu) i zdekompletowanie sprzetu. Wysokosc szkody ustala wypozyczalnia w oparciu o wartosc braków lub cene naprawy.
W przypadku zwrócenia sprzetu uszkodzonego lub niekompletnego Klient, zobowiazuje sie uregulowac ustalona przez wypozyczalnie kwote najpózniej w terminie zwrotu sprzetu.
Inne, nieujete tu kwestie reguluja stosowne akty prawa polskiego w szczególnosci ustawa z dnia 23 kwietnia 1964 roku Kodeks Cywilny (Dz.U.1971 nr 27 poz.252 z pózniejszymi zmianami).