<center>
<h3>Stan Klient</h3>

<div id='edit_adres'>
	<table border=0>
	<tr><td>Imiê:</td><td><input type='text' id='name' /></td></tr>
	<tr><td>Nazwisko:</td><td><input type='text' id='name2' /></td></tr>
	<tr><td>Ulica: </td><td><input type='text' id='street' /></td></tr>
	<tr><td>Miasto: </td><td><input type='text' id='city' /></td></tr>
	</table>
</div>
<div id='edit_acc'>
	<table border=0>
	<tr><td>Mail: </td><td><input type='text' id='mail' /></td></tr>
	<tr><td>Zapomnia³ has³a: </td><td><span class='cursor' id='generator'>Generator</span></td></tr>
	<tr><td>Aktywnuj konta: </td><td><span class='cursor' id='b_activation'>Aktywnuj</span></td></tr>
	</table>
</div>
<div id='choice_edit_account'>
	Wybierz?
</div>
<div id='view_account'></div>
</center>